
<fieldset id="cajadatos">
<legend>Entrar</legend>



<center>

    <table><tr><td>
<input type="button" value="Iniciar sesión" onclick="Continuar()"  style="padding: 16px;margin-left:100px;margin-top:100px;margin-bottom:100px;font-size:16px" />
        </td><td>
<div style="padding: 16px;font-size:16px"> OCR2DATA, programa de reconocimiento<br>documental.

</div>
    
    </td></tr>
<tr>

<td colspan="2" align="center">

<center><span style="font-size:12px">Este programa esta subencionado por el Gobierno de Aragón</span></center>
</td>

</tr>

</table>


</center>


</fieldset>


<script>

function Continuar(){
    top.location = "modrecon.php?modo=desdecompleto";
}

</script>

<style>

.menu, .lineausuario {
    display:none;
}

#cajadatos {
 zheight: 90%;
}



</style>




