

	<link type="text/css" href="css/themes/ui-lightness/jquery.ui.all.css" rel="stylesheet" />
	<script type="text/javascript" src="js/jquery-1.4.2.js"></script>
	<script type="text/javascript" src="js/ui/jquery.ui.core.js"></script>
	<script type="text/javascript" src="js/ui/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="js/ui/jquery.ui.button.js"></script>
	<script type="text/javascript" src="js/ui/jquery.ui.autocomplete.js"></script>

	<script type="text/javascript" src="js/json2.js"></script>
	<script type="text/javascript" src="js/sprintf.js"></script>

	<script type="text/javascript" src="js/jquery.autoSuggest.js"></script>

	<script type="text/javascript" src="js/jquery.hotkeys.js"></script>

	<link type="text/css" href="js/autoSuggest.css" rel="stylesheet" />

	<link type="text/css" href="css/demos.css" rel="stylesheet" />
	<link type="text/css" href="css/css.css" rel="stylesheet" />
