


<h3 class="nonbreseccion">Lista Regiones</h3>

<ul>

	<patTemplate:tmpl name="lista">
	<li>
		
	<patTemplate:var name="region_nombre" modifier="html8"/> -
	<patTemplate:var name="region_w" modifier="html8"/>x<patTemplate:var name="region_h" modifier="html8"/> -
	<patTemplate:var name="template_id" modifier="html8"/>

	</li>
	</patTemplate:tmpl>

</ul>

<!--





  	region_id  	bigint(20)  	 	  	No  	 	auto_increment  	  Navegar los valores distintivos   	  Cambiar   	  Eliminar   	  Primaria   	  Único   	  Índice   	 Texto completo
	template_id 	bigint(20) 			No 			Navegar los valores distintivos 	Cambiar 	Eliminar 	Primaria 	Único 	Índice 	Texto completo
	tipo 	tinytext 	latin1_swedish_ci 		No 			Navegar los valores distintivos 	Cambiar 	Eliminar 	Primaria 	Único 	Índice 	Texto completo
	region_nombre 	tinytext 	latin1_swedish_ci 		No 			Navegar los valores distintivos 	Cambiar 	Eliminar 	Primaria 	Único 	Índice 	Texto completo
	region_x 	int(11) 			No 			Navegar los valores distintivos 	Cambiar 	Eliminar 	Primaria 	Único 	Índice 	Texto completo
	region_y 	int(11) 			No 			Navegar los valores distintivos 	Cambiar 	Eliminar 	Primaria 	Único 	Índice 	Texto completo
	region_w 	int(11) 			No 			Navegar los valores distintivos 	Cambiar 	Eliminar 	Primaria 	Único 	Índice 	Texto completo
	region_h 	int(11) 			No 			Navegar los valores distintivos 	Cambiar 	Eliminar 	Primaria 	Único 	Índice 	Texto completo
	eliminado







-->


