

<b>Secciones disponibles</b>
<ul>
	<li><a href="modimagen.php">MODIMAGE. Imagenes (lista)</a></li>
	<li><a href="modrecon.php">MODRECON. Reconocimientos de documento (lista)</a></li>
	<li><a href="lectura.php">LECTURA. </a></li>
	<!-- <li><a href="muestra.php">MUESTRA. lista de regiones (lista)</a></li>-->
	<li><a href="modtemplates.php">MODTEMPLATE. getion templates conocidas (lista, alta,baja)</a></li>
	<li><a href="modtipodocumento.php">MODTIPO. diseño template</a></li>
	

</ul>

<hr>

<b>Otros</b>
<ul>
<li><a href="proceso.php">[].. lectura - lee documento analizado (prototipo)</a></li>
	<li><a href="index.php">[]. prueba de escaneo (raw)</a></li>
	<li><a href="i2.php">[]. prototipo digitalizador (prototipo)</a></li>
</ul>
